{
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@opentelemetry",
    "^@/domain",
    "^@/presentation",
    "^@/services",
    "^@/infra",
    "^@/main",
    "^@/tests",
    "^@?nest",
    "<THIRD_PARTY_MODULES>",
    "^node",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
